/*global*/
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-body {
    flex-grow: 1;
}

.section {
    padding: 30px 0;
}

/*header*/
.header {
    border-bottom: 2px solid #e5e5e5;
}

.header__date {
    font-size: 14px;
}

.header__logo {
    width: 300px;
}

/*nav*/
.nav {
    width: 100%;
    padding: 10px 0;
}

.nav__item {
    font-size: 16px;
    font-weight: bold;
    color: brown;
    transition: opacity 0.2s;
    margin: 0 10px;
}

.nav__item:hover {
    opacity: 0.8;
}

/*button*/
.button {
    padding: 10px 25px;
    background-color: beige;
    border-radius: 5px;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 0.75;
}

/*typography*/
.title {
    font-size: 40px;
}

.pararaph {
    font-size: 18px;
}


/*form*/
.form {
    width: 400px;
    border: 2px solid blanchedalmond;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.form__checkbox {
    margin-bottom: 25px
}

/*form*/
.sum {
    display: block;
    padding: 20px 20px;
    font-size: 20px;
    background-color: beige;
    border: 2px solid burlywood;
    border-radius: 5px;
    margin: 10px 0;
}

/*success*/
.success {
    width: 100%;
    padding: 15px;
    background-color: darkseagreen;
    border: 2px solid green;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    display: none;
}

.success.active {
    display: block;
}

/*footer*/
.footer {
    padding: 60px 0;
    background-color: blanchedalmond;
}

.footer__logo {
    width: 400px;
}

/*more*/
.more {
    border: 2px solid burlywood;
    border-radius: 5px;
}

.more__head {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.more__head:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: burlywood transparent transparent transparent;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -5px;
}

.more.active .more__head:after {
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent burlywood transparent;
}

.more__body {
    max-height: 0;
    overflow: hidden;
}

.more__body-inner {
    padding: 20px;
}

.more.active .more__head {
    border-bottom-color: burlywood;
}

.more.active .more__body {
    transition: max-height 0.2s;
    max-height: 200px;
}

/*copy*/
.copy {
    color: white;
    padding: 10px 0;
    background-color: burlywood;
}
